:root {
  --text: black;
  --background: aliceblue;
  --primary: navy;
  --accent: violet;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: aliceblue;
    --background: black;
    --primary: lightskyblue;
    --accent: mediumvioletred;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem 1rem 4rem;
}

a {
  color: var(--primary);
  text-decoration: var(--primary) solid underline 0.25rem;
  transition: text-decoration-color 0.25s;
}

abbr {
  text-decoration-style: dashed;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.1rem;
}

a:hover,
a:focus {
  outline: none;
  text-decoration-color: var(--accent);
}

details {
  max-width: 40rem;
  margin-bottom: 10rem;
}

details summary {
  border-radius: 0.25rem;
  display: inline-block;
  list-style: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

details summary:focus {
  outline: 0.25rem solid var(--accent);
}

details p, details ul {
  border-left: 0.5rem solid var(--primary);
  margin: 0;
  padding-left: 1rem;
}

details ul {
  padding-left: 2rem;
}

.category {
  background-color: var(--accent);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.4rem;
  margin: 0 0 2rem;
}

.actions {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.new {
  background: var(--primary);
  border: none;
  border-radius: 1rem;
  font: inherit;
  color: var(--background);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.new:focus,
.new:hover {
  box-shadow: 0 0 0 0.25rem var(--accent);
  outline: none;
}